.mainJob{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid grey;
    margin: 40px 50px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 0;
    color: rgb(188, 188, 188);
}
.jobbtn{
    display: flex;
    flex-wrap: wrap;
}
.jobbtn button{
    color: blue;
    border-radius: 20px;
    padding: 5px 8px;
    margin: 5px;
    border: 3px solid blue;
}