*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.mainContent{
    
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
  
}
.post{
    margin: 0 25px;
}

@media  screen and (max-width: 600px) {
    .main {
  
    }
    
  }